@import "src/styles";

.pageTitleSection {
  min-height: unset;

  @include mq('sm') {
    padding: 28px;
  }

  .title {
    @include typography-h1-bold;
    @include typography-uppercase;
    text-align: center;
  }
}

.bookSection {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-height: unset;
  padding: 64px 32px;
  gap: 32px;
}
