@import 'src/styles';

.container {
  position: fixed;
  top: 0;
  right: 0;
  z-index: $navbar-z-index;

  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  width: 100%;
  height: $navbar-height;
  padding: 12px;

  background: transparent;
  transition: background 300ms;
}

.visible {
  justify-content: space-between;
  background: var(--color-black);

  @include mq('xxs') {
    justify-content: flex-end;
  }
}

.sticky {
  position: sticky;
  justify-content: space-between;
  background: var(--color-black);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq('xxs') {
    visibility: hidden;
    display: none;
  }
}

.hideLogo {
  user-select: none;
  opacity: 0;
  visibility: hidden;
  display: none;
}

.button {
  @include mq('xxs') {
    width: 100%;
  }
}