@import "src/styles";

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 24px;
  width: 100%;
  max-width: 750px;

  @include mq('xs2') {
    grid-template-columns: 1fr;
  }
}

.coverWrapper {
  display: flex;
  flex-direction: column;
  max-width: 300px;

  .title {
    @include typography-citation-bold;
    color: var(--color-black);
    margin-bottom: 4px;
  }

  .imageContainer {
    width: fit-content;
    border-radius: 12px;
    overflow: hidden;
    border: 3px solid var(--background-gray);
    box-shadow: $box-shadow;
    margin-bottom: 12px;
  }

  .image {
    width: 100%;
    max-width: 300px;
    min-width: 250px;
    height: auto;
    vertical-align: bottom;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 12px;
  grid-column: 1 / 3;

  > div {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
  }

  @include mq('xs2') {
    grid-column: unset;
  }
}

.shipping {
  @include typography-citation-3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;

  > svg {
    color: var(--color-black);
    width: 24px;
    height: 24px;
  }
}

.link {
  font-weight: 500;

  @include hover {
    text-decoration: underline;
  }
}

.priceWrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .numberOfCopies {
    display: flex;
    flex-direction: column;
    gap: 4px;

    > p {
      @include typography-paragraph;
    }
  }
}

