@import "src/styles";

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: $terms-section-max-width;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  > h3 {
    @include typography-h3-bold;
  }

  > p {
    @include typography-paragraph;
    text-align: justify;
  }
}

.link {
  color: var(--color-blue);

  @include hover {
    text-decoration: underline;
  }
}