@import "src/styles";

.pageTitleSection {
  min-height: unset;

  @include mq('sm') {
    padding: 28px;
  }

  .title {
    @include typography-h1-bold;
    @include typography-uppercase;
    text-align: center;
  }
}

.heroImageSection {
  height: 512px;
  min-height: 512px;
  padding: 0;
}

.heroImage {
  object-fit: cover;
  height: 100%
}

.bookSection {
  justify-content: flex-start;
  flex-direction: column;
  min-height: unset;
  gap: 32px;
  padding: 64px 32px;

  .marginBottom {
    margin-bottom: 16px;
  }
}