/* Breakpoints */
$breakpoints: (
  'xxs': 356,
  'xs': 480,
  'xs2': 568,
  'sm': 768,
  'md': 1024,
  'lg': 1280,
  'xl': 1600,
  'xl_2': 1920,
  'xl_3': 2560,
);

/* TRANSITION */
$interaction-transition-duration: 200ms;
$interaction-transition-timing-function: ease-in-out;

/* Z-INDEX */
$navbar-z-index: 10;
$section-bg-image-z-index: 0;
$section-children-z-index: 1;

/* LAYOUT */
$navbar-height: 80px;
$footer-height: 64px;

/* MAX-WIDTH */
$banner-max-width: 1200px;
$quote-max-width: 1200px;
$grid-max-width: 1200px;
$paragraph-max-width: 1000px;
$book-section-max-width: 756px;
$illustration-section-max-width: 1000px;
$terms-section-max-width: 850px;

/* BOX-SHADOW */
$box-shadow: rgba(0, 0, 0, 0.25) 0 4px 4px