@import "src/styles";

.pageTitleSection {
  min-height: unset;

  @include mq('sm') {
    padding: 28px;
  }

  .title {
    @include typography-h1-bold;
    @include typography-uppercase;
    text-align: center;

    @include mq('xs2') {
      font-size: 32px;
    }
  }
}

.illustrationsSection {
  justify-content: flex-start;
  flex-direction: column;
  min-height: unset;
  padding: 64px 32px;
}

.illustrationsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
  max-width: $illustration-section-max-width;

  @include mq('sm') {
    grid-template-columns: 1fr;
  }
}

.illustrationFullWidth {
  grid-column: 1 / 3;

  @include mq('sm') {
    grid-column: unset;
  }
}

.image {
  object-fit: contain;
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 12px;
}