@import "src/styles";

.price {
  @include typography-h3-bold;
  color: var(--color-black);

  display: flex;
  align-items: center;
  gap: 8px;
}

.totalPrice {
  @include typography-citation-bold;
  color: var(--color-gray);
  text-decoration: line-through;
}

.discountPrice {
  color: var(--color-red-hover);
}